:root {
  /* coluors */
  /* --background-base: #313030; */

  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-bg: #121212;
  --essential-subdued: #727272;
  --background-basee: #121212;
  --text-base: #ffffff;
  --background-base: #121212;
  --background-basee: #272727;
  --background-highlight: #1a1a1a;
  --background-press: #000000;
  --background-elevated-base: #242424;
  --background-elevated-highlight: #2a2a2a;
  --background-elevated-press: #000000;
  --background-tinted-base: rgba(255, 255, 255, 0.07);
  --background-tinted-highlight: rgba(255, 255, 255, 0.1);
  --background-tinted-press: rgba(255, 255, 255, 0.04);
  --text-base: #ffffff;
  --text-subdued: #a7a7a7;
  --text-bright-accent: #1ed760;
  --text-negative: #f15e6c;
  --text-warning: #ffa42b;
  --text-positive: #1ed760;
  --text-announcement: #3d91f4;
  --essential-base: #ffffff;
  --essential-subdued: #727272;
  --essential-bright-accent: #1ed760;
  --essential-negative: #e91429;
  --essential-warning: #ffa42b;
  --essential-positive: #1ed760;
  --essential-announcement: #0d72ea;
  --decorative-base: #ffffff;
  --decorative-subdued: #292929;

  /* Fonts */

  --font-robot: "Roboto";

  /* Themes */

  --encore-text-size-smaller-2: 0.6875rem;
  --encore-text-size-smaller: 0.8125rem;
  --encore-text-size-base: 1rem;
  --encore-text-size-larger: 1.25rem;
  --encore-text-size-larger-2: 1.5rem;
  --encore-text-size-larger-3: 2rem;
  --encore-text-size-larger-4: 2.5rem;
  --encore-text-size-larger-5: 3rem;
  --encore-border-width-hairline: 1px;
  --encore-border-width-thin: 2px;
  --encore-border-width-thick: 4px;
  --encore-border-width-thicker: 8px;
  --encore-border-width-focus: 3px;
  --encore-graphic-size-decorative-smaller-2: 12px;
  --encore-graphic-size-decorative-smaller: 16px;
  --encore-graphic-size-decorative-base: 24px;
  --encore-graphic-size-decorative-larger: 32px;
  --encore-graphic-size-decorative-larger-2: 40px;
  --encore-graphic-size-decorative-larger-3: 48px;
  --encore-graphic-size-decorative-larger-4: 64px;
  --encore-graphic-size-decorative-larger-5: 88px;
  --encore-graphic-size-informative-smaller-2: 0.75rem;
  --encore-graphic-size-informative-smaller: 1rem;
  --encore-graphic-size-informative-base: 1.5rem;
  --encore-graphic-size-informative-larger: 2rem;
  --encore-graphic-size-informative-larger-2: 2.5rem;
  --encore-graphic-size-informative-larger-3: 3rem;
  --encore-graphic-size-informative-larger-4: 4rem;
  --encore-graphic-size-informative-larger-5: 5.5rem;
  --encore-spacing-tighter-5: 2px;
  --encore-spacing-tighter-4: 4px;
  --encore-spacing-tighter-3: 6px;
  --encore-spacing-tighter-2: 8px;
  --encore-spacing-tighter: 12px;
  --encore-spacing-base: 16px;
  --encore-spacing-looser: 20px;
  --encore-spacing-looser-2: 24px;
  --encore-spacing-looser-3: 32px;
  --encore-spacing-looser-4: 40px;
  --encore-spacing-looser-5: 48px;
  --encore-spacing-looser-6: 64px;
  --encore-control-size-smaller: 32px;
  --encore-control-size-base: 48px;
  --encore-control-size-larger: 56px;
  --encore-layout-margin-tighter: 16px;
  --encore-layout-margin-base: 16px;
  --encore-layout-margin-looser: 24px;
  --encore-corner-radius-smaller: 2px;
  --encore-corner-radius-base: 4px;
  --encore-corner-radius-larger: 6px;
  --encore-corner-radius-larger-2: 8px;
  --encore-corner-radius-larger-3: 16px;
}
